* {
  margin:0;
  padding:0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.canvas {
  height: 100%;
  width: 100%;
  border: 1px solid #000;
}

.gravity {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 30px;
  color: #00CCFF;
  display: flex;
  flex-direction: column;
}

.gravity-text {
  flex: 1;
}

.gravity-input {
  flex: 1;
  margin-top: 5px;
}

.restart-button {
  flex: 1;
  margin-top: 20px;
  background-color: #00CCFF;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.rules-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rules {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  background-color: #00CCFF;
  padding: 40px;
}

.rules p {
  flex: 1;
  margin-top: 5px;
}

.start-button {
  flex: 1;
  margin-top: 30px;
  width: 40%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 1px solid;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
