<!DOCTYPE html>
<html>
  <head>
    <title>My First Game</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body>
      <canvas id="canvas" class="canvas"></canvas>
      <div class="gravity">
        <p class="gravity-text">gravityFactor</p>
        <input type="range" id="gravity" class="gravity-input" onchange="updateGravity()" onmouseup="this.blur()" min="1" max="10" value="5">
        <button onclick="restartPositions()" class="restart-button">Restart</button>
      </div>
      <div class="rules-wrapper">
        <div class="rules">
          <p>You will be controlling HTML/CSS and JS with arrow keys.</p>
          <p>Try to make them meet together to see the magic.</p>
          <p>Don't hesitate to use gravityFactor.</p>
          <button onclick="startGame()" class="start-button">Let's try</button>
        </div>
      </div>
    <script type="text/javascript" src="/js/canvasGame.js"></script>
  </body>
</html>
